!!!
%html{:xmlns=>"http://www.w3.org/1999/xhtml", "xml:lang"=>"en", :lang=>"en"}
  %head
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheets/style.css", :media=>"screen, print"}
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheets/print.css", :media=>"print"}
    %script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/jquery.jeditable.js", :type=>"text/javascript"}
    %script{:src=>"/javascripts/application.js", :type=>"text/javascript"}
    %title
      Blogazine
  %body
    #wrappermarkitup
      #content
        .page
          .margins
            #header
              .image
                %img{:src=>"/images/magazine.jpg"}
              %p If you're going to blog, why not do it beautifully with
              %h1.title Blogazine Themes
              %p
                %span.italic
                  by
                %span.name 
                  Robert J Whitney
            .left
              %p.intro Why not change the blogging paradigm altogether, and provide magazine-style themes for a CMS? 
              %p This is an incomplete proof of concept I am working on for a blogazine entry editor interface.  I have a strong vision of where it needs to go, but it is a work in progress.  Next up, I will be making it so you edit by column, not paragraph, and then adding a Markdown interface.
            .right
              %p It has become clear to me that trying to take a format (the blog), that is intended for web consumption, and force that into something that will look beautiful when rendered on the printed page will always be a losing battle.  Instead, we should provide a new kind of format, which conceptually merges print and web design into one beautiful thing.
              %p How can we do that?  By providing simple templates that can be edited inline, thereby making the page creation process transparent and simple.
        .page
          .margins
            .left
              %p Vestibulum ullamcorper pulvinar condimentum. Aliquam volutpat nisl in libero egestas lacinia. Nunc non ipsum massa, eget pulvinar enim. Phasellus in justo a dui egestas gravida nec ac massa. Curabitur condimentum vulputate egestas. Sed mollis magna a libero feugiat tincidunt. Aliquam ac sodales mi. Nunc eu mauris tellus, feugiat varius sapien. In id erat nulla. Fusce commodo, mauris eleifend blandit commodo, tortor magna rutrum lacus, ac tincidunt justo leo condimentum justo. Nullam a consequat mi. Aliquam sodales lorem sed risus mollis vitae commodo dui volutpat.
              %p Suspendisse potenti. Sed pulvinar dolor non augue tristique rhoncus. Suspendisse purus dui, gravida et consectetur sit amet, vulputate at turpis. Mauris vulputate mi eget risus tempor consectetur. Etiam sit amet leo sem. Sed lacus felis, varius sed rutrum porta, vulputate sed nibh. Nulla sit amet ipsum justo, vel convallis erat. Nulla sed massa turpis, et tristique nunc. Praesent iaculis faucibus turpis a lobortis. Donec eget metus justo, sed lacinia lacus. Aliquam erat volutpat. Quisque rutrum nibh at augue iaculis porttitor. Nulla fermentum fringilla orci non imperdiet. Sed dictum tempus nisi, nec venenatis est posuere id. Phasellus porta ligula vitae justo placerat convallis. Integer tortor neque, varius a scelerisque eget, condimentum eget elit. Praesent viverra gravida ante, nec molestie nisi varius vitae. Pellentesque id fermentum est.
              %p Quisque vitae augue ut libero ornare fringilla. Proin ut orci laoreet mauris sagittis malesuada ut et lectus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque libero dolor, aliquam in dictum quis, venenatis non enim. Maecenas tempus lacus at nibh tempus ullamcorper. Sed malesuada viverra accumsan. Mauris massa purus, rhoncus ut euismod et, tristique eu sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque gravida consequat sodales. 
            .right
              %p Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Duis vitae libero eu massa auctor molestie. Donec orci sapien, malesuada non vehicula vel, eleifend at arcu. Curabitur lobortis gravida eleifend. Curabitur nec purus sed arcu ultrices suscipit. Duis in leo ac tortor tempor sollicitudin. Aliquam ut sem tristique quam posuere venenatis vitae non nisi. Nullam et blandit enim. Sed adipiscing orci in nisl aliquam nec adipiscing mauris sagittis. Ut condimentum convallis ipsum, sed tristique velit condimentum vitae. Cras ipsum mauris, porttitor et molestie sit amet, egestas quis magna. Donec elit mauris, consectetur vitae sodales eu, blandit id eros. 
              %p Phasellus ultricies rhoncus malesuada. Pellentesque quis eleifend erat. Nullam quis lectus convallis nibh dictum convallis. Phasellus id euismod metus. Fusce sit amet turpis sem, sit amet elementum eros. Sed ut magna risus, ac consectetur quam. Donec dapibus, ligula eu sollicitudin interdum, risus eros rutrum felis, non tincidunt mauris mauris in nunc. Proin tempus tempor arcu vitae molestie. Integer euismod, elit at volutpat ullamcorper, metus arcu gravida sem, quis fringilla justo ante id quam. Etiam volutpat velit sit amet diam interdum accumsan.
              %p Curabitur blandit consectetur urna in cursus. Nam laoreet pretium neque nec varius. Curabitur ante justo, egestas eget ultricies vitae, mattis non ante. Nulla sit amet consectetur ipsum. Nullam malesuada venenatis tortor pulvinar facilisis. Nunc commodo cursus elementum. Quisque vel felis justo. Cras lobortis consequat quam.
              %p Nunc erat eros, sodales at pellentesque eget, hendrerit vel orci. Sed dictum dignissim tempus. Nam velit ipsum, cursus at tempus ut, pellentesque in magna. Donec tempus neque interdum mauris tristique sit amet iaculis nunc vestibulum.
          .num
            2
        #footer
        
        